body {
  background-image: url("../assets/img/stacked-waves-haikei.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.mt-16 {
  margin-top: 16px;
}
.mb-16 {
  margin-bottom: 16px;
}
